<!-- displays our API for the trending gaming news stories-->
<section class="my-4 flex-row justify-space-between flex-container">
    <div class="col-12 col-lg-4 bg-dark p-3 mb-3 flex-child">
        <h3 class="text-light">Trending News!</h3>
        <div id="news-container" class="container-fluid" >

        </div>
    </div>
    <!-- displays the post feed on the homepage -->
    <div class="col-12 col-lg-8 bg-light p-3 mb-3 flex-child">
        <h3>Post Feed!</h3>
        <ol class="post-list">
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
        </li>
        {{/each}}
        </ol>
    </div>
</section>


<script src="/javascript/game-news.js"></script>

